body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  overflow: hidden;
}

.landing-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #000;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.sidebar h1 {
  margin: 0;
  padding: 25px 0;
  color: #fff;
  font-size: 25px;
}

.sidebar .info h2 {
  font-size: 36px;
  margin-top: 50%;
  font-size: 40px;
  padding-left: 5px;
}

.sidebar .info h2 span {
  color: #ff0;
  padding-left: 10px;
}

.sidebar .role {
  background: #ff0;
  color: #000;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  width: 75%;
  height: 100vh;
  position: relative;
}

.hero-nav {
  display: flex;
  justify-content: center;
  background: #444;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.about-nav {
  display: flex;
  justify-content: center;
  background: #444;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  left: 0;
}
.hero-nav {
  left: 25%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 12rem;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
  }
}

.image-section {
  position: relative;
  width: 16rem;
  height: 16rem;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(10px, 10px);
  z-index: -1;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.text-section {
  margin-left: 6rem;
  max-width: 40rem;
  color: #e9ebef;
}

.subheading {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #cecfd3;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0;
}

.highlight {
  color: #ff0;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
}
